/* reset css */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", Arial, sans-serif;
}

/* - Blue 950 (main BG): hsl(217, 54%, 11%)
- Blue 900 (card BG): hsl(216, 50%, 16%)
- Blue 800 (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */
:root {
--blue-500: hsl(215, 51%, 70%);
--cyan-400: hsl(178, 100%, 50%);
--blue-950: hsl(217, 54%, 11%);
--blue-900: hsl(216, 50%, 16%);
--blue-800: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

article {
background-color: hsl(216, 50%, 16%);
width: 400px;
margin: 40px;
box-shadow: 2px 2px 12px 3px rgba(133, 132, 132, 0.952);
border-radius: 20px;
padding: 20px;
display: flex;
flex-direction: column;
}

body {
display: flex;
justify-content: center;
padding: 40px;
background-color: var(--blue-950);
}

.nft {
width: 100%;
border-radius: 20px;
margin-bottom: 20px;

}

h2 {
color: var(--white);
font-size: 1.5rem; } 

p {
  font-size: 15px;
  color: var(--blue-500);
  margin-bottom: 20px;
}

.nft-info {
display: flex;
background-color: var(--blue-900);
padding: 10px;
justify-content: space-between;
font-size: 15px;
margin-bottom: 20px;
  }

.nft-price {
display: flex;
align-items: center;
gap: 5px;
}

strong {
  color: var(--cyan-400);
}

.nft-time {
display: flex;
align-items: center;
gap: 5px;
color: var(--blue-500);
}

hr {
border: 1px solid var(--blue-800);
margin-bottom: 20px;
}

.nft-creator {
display: flex;  
align-items: center;
gap: 10px;
}

.nft-avatar {
width: 70px; 
margin-right: 10px;
color: var(--white);
}

*/ .mi-boton  background-color: blue; color: white; transition: background-color 0.3s ease; /* Suaviza el cambio */ } .mi-boton:hover { background-color: green; /* Cambia a verde al pasar el ratón */  */